<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bangalore</title>
    <link rel="icon" href="  ..\images\apexIcon.png" type="image/jpg" sizes="32x32">
    <meta charset="utf-8">
    <meta name="description" content="a description of an alaskan malamute dog temperament & traits ">
    <meta name="keywords" content="dog breed, alaskan malamute, sled dogs">

</head>

<body>
    <header>
        <nav>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <th><a href="..\Navs\Home.html"><img src="  ..\images\apexLogoBlack.png" alt="Apex Logo" height="100"></a></th>
                    <th><a href="..\Navs\Legends.html">Legends</a></th>
                    <th></th>
                    <th><a href="..\Navs\Arenas.html">Arenas</a></th>
                </tr>
            </table>
        </nav>
    </header>
    <section>
        <nav>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <td rowspan="11"><img src="  ..\images/bangalore.png" height="500" align="top"><img>
</td>
                </tr>
                <tr><td colspan="2"><center>Details</center></td></tr>
                <tr>
                    <td align="right">Real Name</td>
                    <td>Anita Williams</td>
                </tr>
                <tr>
                    <td align="right">Gender</td>
                    <td>Female</td>
                </tr>
                <tr>
                    <td align="right">Age</td>
                    <td>35</td>
                </tr>
                <tr><td colspan="2"><center>Gameplay</center></td></tr>
                <tr>
                    <td align="right">Legend Type</td>
                    <td>Offensive</td>
                </tr>
                <tr>
                    <td align="right">Tactical Ability</td>
                    <td>Smoke Launcher</td>
                </tr>
                <tr>
                    <td align="right">Passive Ability</td>
                    <td>Double Time</td>
                </tr>
                <tr>
                    <td align="right">Ultimate Ability</td>
                    <td>Rolling Thunder</td>
                </tr>
            </table>

        </nav>

    </section>
    <footer>
        <section>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <td><img src="  ..\images/apexLogo2.png" width="50"></td>
                    <td><img src="  ..\images/apexLogoBlack.png" height="70"></a></td>
                    <td rowspan="2">
                        <center>
                            <p>
                                &copy; Copyright
                                <script type="text/javascript">
                                    var dt = new Date();
                                    document.write("" + dt.getFullYear());
                                </script> Raphael Salaja
                            </p>
                        </center>
                    </td>
                </tr>
                <tr align="center" valign="middle">
                    <td colspan="2"><img src="  ..\images/respawnLogo.png" width="150"></td>
                </tr>


    </footer>
</body>

</html>