<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Apex Legends</title>
    <link rel="icon" href="  ..\images\apexIcon.png" type="image/jpg" sizes="32x32">
    <meta charset="utf-8">
    <meta name="description" content="apex legends information">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="..\Style\Home.css">
</head>

<body background="  ..\images/wallpaper.jpg">
    <header class="navigation-bar">
        <a href="Home.html">Home</a>
        <a href="Legends.html">Legends</a>
        <div><a href="Weapons.html">Weapons</a></div>
        <div><a href="Arenas.html">Arenas</a></div>



    </header>
    <section class="v-header container">
        <div class="fullscreen-video-wrap">
            <video src="videos/Trailer_good.mp4" autoplay="true" loop="true" muted></video>
        </div>
        <div class="header-overlay"></div>
        <section class="header-content">
            <H1>Welcome To The Apex Games</H1>
            <P>
                Your Road To Apex Predator Begins Here<Br>
                Select A Category To Gain More Knowledge
            </p>
            <nav class="home-nav-bar">

                <a href="Legends.html">Legends</a>
                <a href="Weapons.html">Weapons</a>
                <a href="Arenas.html">Arenas</a>
            </nav>
        </section>
    </section>

    <!-- <footer>
        <table class="copyright-table">
            <tr>
                <td><img src="  ..\images/apexLogo2.png" width="50"></td>
                <td><img src="  ..\images/apexLogoBlack.png" height="70"></<img>
                </td>
                <td><img src="  ..\images/respawnLogo.png" width="150"></<img>
                </td>
                <td>
                    <p class="copyright">
                        &copy; Copyright
                        <script type="text/javascript">
                            var dt = new Date();
                            document.write("../Legends/Bangalore.html" + dt.getFullYear());
                        </script> Raphael Salaja
                    </p>
                </td>
            </tr>
        </table>
    </footer> -->
</body>

</html>