p
{
	text-align:left;
	color:orange;
	font-family:arial;
	font-size: 14pt;
}
h1
{
	text-align:center;
	color:green;
	font-family:Century Gothic;	
}
h3
{
	text-align:right;
	color:blue;
	font-family:tahoma;	
}

