body
{
	background-color:#b0c4de;
}
p
{
	text-align:left;
	font-family:arial;
	font-size: 14pt;
}
h1
{
	background-color:yellow;
	text-align:center;
	color:green;
	font-family:Century Gothic;	
}
h3
{
	background-color:rgb(128,128,125);
	text-align:right;
	color:blue;
	font-family:tahoma;	
}

