<!DOCTYPE html>
<html lang="en">

<head>
    <title>Apex Legends</title>
    <link rel="icon" href="  ..\images\apexIcon.png" type="image/jpg" sizes="32x32">
    <meta charset="utf-8">
    <meta name="description" content="a description of an alaskan malamute dog temperament & traits ">
    <meta name="keywords" content="dog breed, alaskan malamute, sled dogs">

</head>

<body>
    <header>
        <nav>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <th><a href="Home.html"><img src="  ..\images/apexLogoBlack.png" alt="Apex Logo" height="100"></a></th>
                    <th><a href="Legends.html">Legends</a></th>
                    <th><a href="Weapons.html">Weapons</a></th>
                    <th><a href="Arenas.html">Arenas</a></th>
                </tr>
            </table>
        </nav>
        <section>
            <center>
                <p>
                    Welcome to Apex Legends<br>
                    Please Select A Legend
                </p>
            </center>
        </section>
    </header>
    <section>
        <nav>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <td><a href="../Legends/Bangalore.html"><img src="  ..\images/bangalore.png" height="200"></a></td>
                    <td><a href="../Legends/Bloodhound.html"><img src="  ..\images/bloodhound.png" height="200"></a></td>
                    <td><a href="../Legends/Caustic.html"><img src="  ..\images/caustic.png" height="200"></a></td>
                    <td><a href="../Legends/Crypto.html"><img src="  ..\images/crypto.png" height="200"></a></td>
                </tr>
                <tr align="center" valign="middle">
                    <td><a href="../Legends/Gibraltar.html"><img src="  ..\images/gibby.png" height="200"></a></td>
                    <td><a href="../Legends/Lifeline.html"><img src="  ..\images/lifeline.png" height="200"></a></td>
                    <td><a href="../Legends/Mirage.html"><img src="  ..\images/mirage.png" height="200"></a></td>
                    <td><a href="../Legends/Octane.html"><img src="  ..\images/octane.png" height="200"></a></td>
                </tr>
                <tr align="center" valign="middle">
                    <td></td>
                    <td><a href="../Legends/Pathfinder.html"><img src="  ..\images/pathfinder.png" height="200"></a></td>
                    <td><a href="../Legends/Wraith.html"><img src="  ..\images/wraith.png" height="200"></a></td>
                    <td></td>
                </tr>
            </table>

        </nav>

    </section>
    <footer>
        <section>
            <table align="center" width="100%" border="2">
                <tr align="center" valign="middle">
                    <td><img src="  ..\images/apexLogo2.png" width="50"></td>
                    <td><img src="  ..\images/apexLogoBlack.png" height="70"></a></td>
                    <td rowspan="2">
                        <center>
                            <p>
                                &copy; Copyright
                                <script type="text/javascript">
                                    var dt = new Date();
                                    document.write("" + dt.getFullYear());
                                </script> Raphael Salaja
                            </p>
                        </center>
                    </td>
                </tr>
                <tr align="center" valign="middle">
                    <td colspan="2"><img src="  ..\images/respawnLogo.png" width="150"></td>
                </tr>


    </footer>
</body>

</html>