/* a:link{color:blue;}
a:visited{color:purple}
a:hover{color:red;}
a:focus {color: orange;}
a:active {color:green;} */
body{
	background-image: url('../images/imagineCover.png');
	background-position: 10% 25%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 150px 150px;
	font-family: 'Comic Sans MS';
}
h1, p{
	text-align:center;
}
h1{ color: orange; text-decoration: underline;}
p{ color: blue;}
#ch1, #ch2{color: red;}
.imagine{font-weight: bold; color: green;}